.title{
    text-align: center;
    margin-top: 25px
}

.form{
    margin: auto;
    max-width: 40%;
    text-align: center;
}

input[type='submit'], button, [aria-label] {
    cursor: pointer;
}

#edit-box{
    display: none;
    max-width: 80%;
    margin: auto;
    margin-top: 10px;
}

.to-do{
    background: transparent !important;
}

table {
    width: 100%;
    margin: 20px auto;
    table-layout: auto;
  }
  

table,
td,
th {
  border-collapse: collapse;
  text-align: center;
}

th,
td {
  padding: 10px;
  border: solid 1px;
  text-align: center;
}

.w {
    width: 350px;
  }
  